<html>
	<head>
		<title>Register</title>
		<link rel="stylesheet" href="/static/css/bootstrap.css">
	</head>
	<body></br>
	<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
			</br>
			<div class="header">
				<h2 class="word" align="center">AWS file upload</h2>
			</div>
			</br></br>
			<div class="header">
				<h3 class="word" align="center">Register</h3>
			</div>
				<form class="col-lg-6 offset-lg-3 " action="{{ url_for('registration') }}" method="post">
				<div class="msg">{{ msg }}</div>
					<div class="row justify-content-center">
					<input class="form-control" id="firstname" name="firstname" type="text" placeholder="Firstname" class="textbox"/></br></br>
					<input class="form-control" id="lastname" name="lastname" type="text" placeholder="Lastname" class="textbox"/></br></br>
					<input class="form-control" id="email" name="email" type="text" placeholder="Email ID" class="textbox"/></br></br>
					<input class="form-control" id="password" name="password" type="password" placeholder="Password" class="textbox"/></br></br>

					<button type="submit" class="btn btn-primary">Register</button></br>
					</div></form>
	<p class="bottom">Already have an account? <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
		</div></div></div>
		</div>
	</body>
</html>
